In [1]:
import sqlalchemy
from sqlalchemy import create_engine
from sqlalchemy import text
from sqlalchemy import bindparam
from sqlalchemy.pool import NullPool
import pandas as pd

In [2]:
SQL_CONNECTION = 'mysql+pymysql://root:admin@localhost:3306/lop2teste'
list_id01 = '4f3452ae-87d4-4a5f-9532-c7634da2cff0'
list_id02 = '70e6c800-7583-485d-ac9f-9c42c48dd785'
list_id03 = '42d5c4ad-7b44-4e4e-b2e5-2997785132c8'
list_id13 = '93cd33c4-109a-401e-87e9-e26ff5929d37'
list_id14 = 'c4d09d1b-73a5-45c6-8a0d-ead669114b65'
list_id15 = '1551e3ed-c875-4bb3-8e4e-58407df40776'

listas = [list_id01,list_id02,list_id03]
listas_finais = [list_id13,list_id14,list_id15]

In [15]:
class ExtracaoDeDados:
    def __init__(self,conect,ano,ano_final,listas,listas_finais):
        # A classe é iniciada pela url de conexão, anos e listas iniciais e finais que queremos gerar a tabela
        self._engine = create_engine(conect)
        self._con = self._engine.connect()

        self.ano = ano
        self.ano_final = ano_final
        self.listas = listas
        self.listas_finais = listas_finais

    def conect_of(self):
        self._con.close()   
        
    #Esse método serve para ser chamado depois que iniciamos o objeto, ele fecha a conexão com o banco
    def classes_por_ano(self):
        
        query = text("SELECT id FROM lop2teste.class where year >= :ano and year <= :ano_final").bindparams(ano = self.ano,ano_final = self.ano_final)
        classes = pd.read_sql(query,self._con)
        return classes
    #Esse método pega as classes dos anos informados na criação do objeto
    def lista_por_classe(self,lista):
        
        query = text("SELECT list_id,class_id FROM lop2teste.classhaslistquestion where list_id = :lista").bindparams(lista = lista)
        listas = pd.read_sql(query,self._con)
        return listas

    # Esse método recebe o id de uma lista e retorna um dataframe com uma coluna de classe e listas
    def classes_com_todas_listas(self):
        classes = self.classes_por_ano()
        listas_de_listas_iniciais = []
        listas_de_listas_finais = []
        classes_iniciais = []
        classes_finais = []
        classes_importantes = []
        
        for i in range(len(self.listas)):
            listas_de_listas_iniciais.append(self.lista_por_classe(self.listas[i]))
        for i in range(len(self.listas_finais)):
            listas_de_listas_finais.append(self.lista_por_classe(self.listas[i]))

        for i in range(len(classes.id.unique())):
            for j in range(len(listas_de_listas_iniciais)):
                if classes.id.unique()[i] in listas_de_listas_iniciais[j].class_id.unique() and classes.id.unique()[i] not in classes_iniciais:
                    classes_iniciais.append(classes.id.unique()[i])
            for j in range(len(listas_de_listas_finais)):
                if classes.id.unique()[i] in listas_de_listas_finais[j].class_id.unique() and classes.id.unique()[i] not in classes_finais:
                    classes_finais.append(classes.id.unique()[i])

        for i in range(len(classes_iniciais)):
            if classes_iniciais[i] in classes_finais:
                classes_importantes.append(classes_iniciais[i])
        return classes_importantes

    #Esse método pega todas as listas informadas e comparara quais estão nas turmas que foram informadas para aquele ano

    def alunos_por_classe(self,classes):
        
        query = text("SELECT id,enrollment,user_id,class_id FROM lop2teste.classhasuser where class_id = :id_classe").bindparams(id_classe = classes)
        alunos = pd.read_sql(query,self._con)
        return alunos
    #Esse método pega todos os alunos de uma classe, retornando um dataframe com o id,matricula,user_id e class_id
    def submissoes_por_alunos(self,id_aluno,id_lista,id_classe):
        
        query = text("SELECT id,hitPercentage,timeConsuming,user_id,question_id FROM Submission WHERE listQuestions_id = :id_list_question AND class_id = :id_class AND user_id = :id_aluno").bindparams(id_list_question = id_lista,id_class = id_classe,id_aluno = id_aluno)
        submissoes_alunos = pd.read_sql(query,self._con)
        return submissoes_alunos
    #Esse método pega as submissões de um aluno de uma classe em uma lista específica
    def questoes_por_lista(self,id_lista):
        
        query = text("SELECT id from listhasquestion where list_id = :list_id").bindparams(list_id = id_lista)
        questoes = pd.read_sql(query,self._con)
        quantidade_questoes = questoes.id.nunique()
        return quantidade_questoes

    #Esse método pega a quantidade de questões que tem uma lista

    def submissoes_por_turma(self,id_classe,id_lista):
        
        query = text("SELECT id FROM Submission WHERE listQuestions_id = :id_list_question AND class_id = :id_class").bindparams(id_list_question = id_lista,id_class = id_classe)
        submissoes_totais = pd.read_sql(query,self._con)
    # Esse método pega as subimssões de uma turma em uma lista ( não utilizei posteriormente porém é uma extração importante)
    def acertos_da_lista(self,aluno):
        aluno = aluno.query('hitPercentage == 100')
        acertos = aluno.question_id.unique()
        acertos = len(acertos)
        return acertos
    #Esse método recebe um dataframe com as submissões de um aluno e retorna a quantidade de acertos que ele teve naquela lista

    def metricas_por_aluno(self,aluno,questoes_lista):
        if aluno.id.nunique() == 0:
            submissao = 0
            numero_de_questoes = questoes_lista
            acertos = 0
            media_submissoes = 0
            totalmente_erradas = 0
            parcialmente_erradas = 0
            totalmente_certas = 0
            tempo_total_gasto = 0
            tempo_medio_gasto = 0
            tempo_desvio_padrao = 0
            percentual_questoes_certas = 0
            submeteu = 0 
        else:
            aluno.hitPercentage = pd.to_numeric(aluno.hitPercentage,errors = 'coerce')
            submissao = aluno.id.nunique()
            numero_de_questoes = questoes_lista
            acertos = self.acertos_da_lista(aluno)
            media_submissoes = aluno.hitPercentage.mean()
            totalmente_erradas = aluno.query('hitPercentage == 0').id.nunique()
            parcialmente_erradas = aluno.query('hitPercentage > 0 and hitPercentage < 100').id.nunique()
            totalmente_certas = aluno.query('hitPercentage == 100').id.nunique()
            tempo_total_gasto = aluno.timeConsuming.sum()
            tempo_medio_gasto = aluno.timeConsuming.mean()
            tempo_desvio_padrao = aluno.timeConsuming.std()
            percentual_questoes_certas = ((acertos*100)/numero_de_questoes)
            submeteu = 1
    
        return [submissao,numero_de_questoes,acertos,media_submissoes,totalmente_erradas,parcialmente_erradas,
           totalmente_certas,tempo_total_gasto,tempo_medio_gasto,tempo_desvio_padrao,percentual_questoes_certas,submeteu]
        #Esse método recebe as submissoes de um estudante em uma lista e retorna todas as suas métricas calculadas em uma lista

    def metricas_por_turma(self):
        metrica_basica = ['id_user','class_id','enrollment']
        metricas_das_listas = ['submissions_list','QuestionsList_list','HitsCorrects_list','submissions_mean_list','wrong_list','partially_wrong_list',
           'Submissions_Corrects_list','TimeAll_list','TimeMean_list','TimeSD_list','Percentage_hit_list','submitted_list']
        for i in range(len(self.listas)):
            for j in range(len(metricas_das_listas)):
                metrica_basica.append(f'{metricas_das_listas[j]}0{i+1}')
        for i in range(len(self.listas_finais)):
            metrica_basica.append(f'submitted_list_final0{i+1}')
        tabela = pd.DataFrame(columns = metrica_basica)
        linha = 0
        for i in range(len(self.classes_com_todas_listas())):
            alunos_de_cada_classe = self.alunos_por_classe(self.classes_com_todas_listas()[i])      
            questoes_listas_iniciais = [self.questoes_por_lista(self.listas[j]) for j in range(len(self.listas))]
            questoes_listas_finais = [self.questoes_por_lista(self.listas_finais[j]) for j in range(len(self.listas_finais))]

            for j in range(len(alunos_de_cada_classe.id.unique())):
                submissoes_listas_iniciais = [self.submissoes_por_alunos(alunos_de_cada_classe.loc[j].user_id,self.listas[lista],self.classes_com_todas_listas()[i]) for lista in range(len(self.listas))]
                submissoes_listas_finais = [self.submissoes_por_alunos(alunos_de_cada_classe.loc[j].user_id,self.listas_finais[lista],self.classes_com_todas_listas()[i]) for lista in range(len(self.listas_finais))]

                dados_das_listas_iniciais = [self.metricas_por_aluno(submissoes_listas_iniciais[lista],questoes_listas_iniciais[lista]) for lista in range(len(self.listas))]
                dados_das_listas_finais = [self.metricas_por_aluno(submissoes_listas_finais[lista],questoes_listas_finais[lista]) for lista in range(len(self.listas_finais))]

                metricas_aluno = [alunos_de_cada_classe.loc[j].user_id,alunos_de_cada_classe.loc[j].class_id,alunos_de_cada_classe.loc[j].enrollment]
                
                for listas in range(len(dados_das_listas_iniciais)):
                    for metricas in dados_das_listas_iniciais[listas]:
                        metricas_aluno.append(metricas)
                for lista in range(len(dados_das_listas_finais)):
                    metricas_aluno.append(dados_das_listas_finais[lista][11])

                tabela.loc[linha] = metricas_aluno
                linha +=1
        return tabela

    #Esse método é inicializado para gerar a tabela com os dados informados no construtor. Com ele as colunas sao geradas, e são utulizados os outros métodos da classe para a geração
    # Da tabela

In [16]:
teste_objeto = ExtracaoDeDados(SQL_CONNECTION,2022,2023,listas,listas_finais)

In [44]:
classes_usadas = teste_objeto.classes_com_todas_listas()
# Deve retornar as classes que tem em comum as primeiras e ultimas listas

In [46]:
metricas_teste = teste_objeto.metricas_por_turma()
#Tabela com as métricas

In [80]:
questoes_teste = teste_objeto.questoes_por_lista(list_id03)
# teste para quantidade de questões na lista

In [17]:
tabela_exemplo = teste_objeto.metricas_por_turma()
teste_objeto.conect_of()

In [18]:
tabela_exemplo

,id_user,class_id,enrollment,submissions_list01,QuestionsList_list01,HitsCorrects_list01,submissions_mean_list01,wrong_list01,partially_wrong_list01,Submissions_Corrects_list01,...,partially_wrong_list03,Submissions_Corrects_list03,TimeAll_list03,TimeMean_list03,TimeSD_list03,Percentage_hit_list03,submitted_list03,submitted_list_final01,submitted_list_final02,submitted_list_final03
0,b98d71d4-ed29-49fc-b811-4169f798b528,00ec3404-1d29-40d4-b39c-02ba665c2643,20220027671,53,5,5,17.241379,24,0,5,...,8,12,69876584,9.841772e+05,8.302691e+05,100.000000,1,1,1,1
1,a07240ad-283a-442b-8a7a-8845d60b8fcf,00ec3404-1d29-40d4-b39c-02ba665c2643,20220032395,15,5,5,64.285714,5,0,9,...,5,13,101141859,9.725179e+05,5.228877e+05,100.000000,1,1,1,1
2,f6409d69-e5f7-4713-bb35-bb9028099638,00ec3404-1d29-40d4-b39c-02ba665c2643,20200010274,13,5,5,46.153846,7,0,6,...,0,13,6651932,2.375690e+05,1.393975e+05,100.000000,1,1,1,1
3,a1f0ffc7-6163-4dad-b0c1-f4596fb09665,00ec3404-1d29-40d4-b39c-02ba665c2643,20200114537,117,5,5,4.807692,99,0,5,...,3,13,142118304,1.544764e+06,1.055609e+06,100.000000,1,1,0,0
4,12360d4b-0980-465b-ab2d-99f5c755b373,00ec3404-1d29-40d4-b39c-02ba665c2643,20220013110,9,5,5,100.000000,0,0,5,...,0,13,19539972,3.987749e+05,2.812159e+05,100.000000,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1728,95891fad-3ce1-48b6-bc48-e753f45b2a61,ea81c388-b19c-47c1-94fc-80748f49e3ab,20210017958,30,5,4,23.333333,23,0,7,...,0,4,4770419,3.407442e+05,1.955278e+05,33.333333,1,1,1,1
1729,83a836e3-2642-4aec-a0ab-4dede7cf297b,ea81c388-b19c-47c1-94fc-80748f49e3ab,20200083646,22,5,5,27.272727,16,0,6,...,10,23,171868072,1.809138e+06,2.344748e+06,100.000000,1,0,0,0
1730,64cc3d23-34d1-4460-a397-3048544a4f3c,ea81c388-b19c-47c1-94fc-80748f49e3ab,20220057984,49,5,5,18.604651,35,0,8,...,0,21,65162880,8.805795e+05,4.656861e+05,100.000000,1,1,1,1
1731,48b8b53e-9516-450d-b4a6-b19ca8f2947d,ea81c388-b19c-47c1-94fc-80748f49e3ab,20220057035,18,5,3,19.444444,13,2,3,...,0,0,0,0.000000e+00,0.000000e+00,0.000000,0,0,0,0
1732,9bb83fa4-72bb-42f4-b0b4-9cb97bc156be,ea81c388-b19c-47c1-94fc-80748f49e3ab,20200122270,7,5,1,33.333333,4,0,2,...,0,0,0,0.000000e+00,0.000000e+00,0.000000,0,0,0,0